<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <form action="/user/login" method="POST">
    <div>
      <label for="ethaddress">Account Address</label>
      <input type="text" id="ethaddress" readonly>
      <input type="hidden" id="ethaddressdata" name="user[ethaddress]">
   </div>
   <div>
      <button type = "button" id='loginButton' onclick="">
        Get Address From MetaMask
      </button>
      <script>
        window.userWalletAddress = null
        const loginButton = document.getElementById('loginButton')
        const userWallet = document.getElementById('userWallet')
  
        function toggleButton() {
          if (!window.ethereum) {
            loginButton.innerText = 'MetaMask is not installed'
            loginButton.classList.remove('bg-purple-500', 'text-white')
            loginButton.classList.add('bg-gray-500', 'text-gray-100', 'cursor-not-allowed')
            return false
          }
  
          loginButton.addEventListener('click', loginWithMetaMask)
        }
  
        async function loginWithMetaMask() {
          const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
            .catch((e) => {
              console.error(e.message)
              return
            })
          if (!accounts) { return }
          window.userWalletAddress = accounts[0];
          console.log("Login Succesful");
          console.log("Account Address: " + window.userWalletAddress);
          document.getElementById("ethaddress").value = window.userWalletAddress;
          document.getElementById("ethaddressdata").value = window.userWalletAddress;
        }
  
        window.addEventListener('DOMContentLoaded', () => {
          toggleButton()
        });
      </script>
    </div>
    <button type = "submit">LOGIN</button>
  </form>
</body>

</html>