<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>List Your Property</title>
</head>

<body>
    <h1>Hello <%=user.name %>
    </h1>
    <h3> List your Property! </h3>
    <form action="/property" method="POST" id="form">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="property[title]">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" id="price" name="property[price]">
        </div>
        <div>
            <label for="Description">Description</label>
            <input type="text" id="Description" name="property[description]">
        </div>
        <div>
            <label for="location">Location(City,State)</label>
            <input type="text" id="location" name="property[location]">
        </div>
        <div>
            <label for="fractions">Number of Fractions</label>
            <input type="text" id="fractions" name="property[fractions]">
        </div>
        <div>
            <input type="hidden" id="ethaddress" name="user[ethaddress]">
            <script>
                async function login() {
                    if (!window.ethereum) {
                        window.alert("Metamask is not connected");
                        document.getElementById("listButton").disabled = true;
                    }
                    else {
                        const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
                            .catch((e) => {
                                console.error(e.message)
                                return
                            });
                        console.log(accounts);
                        if (!accounts) {
                            window.alert("No Account Found");
                            document.getElementById("listButton").disabled = true;
                        }
                        window.userWalletAddress = accounts[0];
                        console.log(window.userWalletAddress);
                        document.getElementById("ethaddress").value = window.userWalletAddress;
                    }
                }
                window.addEventListener('DOMContentLoaded', () => {
                    login()
                });
            </script>
        </div>
        <button id="listButton">List!</button>
    </form>
</body>

</html>